<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="styles/style.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<nav>
    <ul id="linkList">
        <li><a href="index.html" th:href="@{index}">Index</a></li>
        <li sec:authorize="isAnonymous() || hasAuthority('ADMIN')">
            <a th:href="@{/users/register/form}" href="register.html">Register</a></li>
    </ul>

    <form th:action="@{/logout}" action="#" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-info" type="submit" value="Logout" id="logoutButton">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-success" th:href="@{/login}" value="Login" id="loginButton">Login</a>
        </div>
    </form>


</nav>
    <section class="main-window"><h1>Main page</h1>
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAuthority('ADMIN')">
                <h2>Test </h2><span th:text="${#authentication.name}"></span></h2>
            </div>
            <div sec:authorize="!hasAuthority('ADMIN')">
                <h2>Test </h2><span th:text="${#authentication.name}"></span></h2>
            </div>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:id="adminLink" th:href="@{/admin}" style="color: black">Admin page</a>
        </div>
    </section>
</body>
</html>