<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="styles/style.css">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<nav>
    <ul id="linkList">
        <li><a href="index.html" th:href="@{/index}">Index</a></li>
        <li sec:authorize="isAnonymous() || hasAuthority('ADMIN')">
            <a th:href="@{/users/register/form}" href="register.html">Register</a></li>
    </ul>
    <div sec:authorize="isAnonymous()">
        <a id="loginButton" class="btn btn-success" th:href="@{/login}" value="Login">Login/Register</a>
    </div>
</nav>
<section class="main-window">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <button id="submit" class="btn btn-primary" type="submit">Login</button>
    </form>
    <div id="register">
        <a th:href="@{/users/register/form}" href="register.html">Not a user?</a>
    </div>
</section>
</body>
</html>