<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="styles/style.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<ul id="linkList">
    <li><a href="index.html" th:href="@{/index}">Index</a></li>
    <li><a href="restaurants.html" th:href="@{/restaurants}">Restaurants</a></li>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/users/register/form}" href="register.html">Register user</a></li>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/registerRestaurant/form}" href="registerRestaurant.html">Register restaurants</a></li>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/registerFoodItem/form}" href="registerFoodItem.html">Register food items</a></li>
    <li sec:authorize="hasAuthority('USER')">
        <a th:href="@{/users/restaurantReview/form}" href="restaurantReview.html">Review restaurants</a></li>
</ul>
    <form th:action="@{/logout}" action="#" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-info" type="submit" value="Logout" id="logoutButton">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-success" th:href="@{/login}" value="Login" id="loginButton">Login/Register</a>
        </div>
    </form>
    <section class="main-window">
        <h1>Register</h1>
        <form th:action="@{/users/register/process}" th:object="${form}" method="post">
            <label for="firstName"></label>
            <input class="form-control" type="text" id="firstName" th:field="*{firstName}" placeholder="First name"/>
            <div th:if="${#fields.hasErrors('firstName')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('firstName')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <label for="lastName"></label>
            <input class="form-control" type="text" id="lastName" th:field="*{lastName}" placeholder="Last name"/>
            <div th:if="${#fields.hasErrors('lastName')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('lastName')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <label for="username"></label>
            <input class="form-control" type="text" id="username" th:field="*{username}" placeholder="Username"/>
            <div th:if="${#fields.hasErrors('username')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('username')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <label for="password"></label>
            <input class="form-control" type="password" id="password" th:field="*{password}" placeholder="Password"/>
            <div th:if="${#fields.hasErrors('password')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('password')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <label for="confirm"></label>
            <input class="form-control" type="password" id="confirm" th:field="*{passwordConfirm}" placeholder="Confirm password">
            <div th:if="${#fields.hasErrors('passwordConfirm')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('passwordConfirm')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>

            <div sec:authorize="hasAuthority('ADMIN')">
                <label>Create admin</label>
                <input type="checkbox" value="true" th:field="*{admin}">
            </div>
            <button id="submit" class="btn btn-primary" type="submit">Register</button>
        </form>
    </section>
</body>
</html>