<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="styles/style.css">
    <meta charset="UTF-8">
    <title>Register restaurant</title>
</head>
<body>
<ul id="linkList">
    <li><a href="index.html" th:href="@{/index}">Index</a></li>
    <li><a href="restaurants.html" th:href="@{restaurants}">Restaurants</a></li>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/users/register/form}" href="register.html">Register user</a></li>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/users/registerRestaurant/form}" href="registerRestaurant.html">Register restaurants</a>
    </li>
</ul>
<form th:action="@{/logout}" action="#" class="form-inline" method="post">
    <div sec:authorize="isAuthenticated()">
        <button class="btn btn-outline-info" type="submit" value="Logout" id="logoutButton">Logout</button>
    </div>
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-success" th:href="@{/login}" value="Login" id="loginButton">Login/Register</a>
    </div>
</form>
    <section class="main-window">
        <h1>Register</h1>
        <form th:action="@{/admin/registerRestaurant/process}" th:object="${form}" method="post">
            <label for="restaurantName"></label>
            <input class="form-control" type="text" id="restaurantName" th:field="*{restaurantName}" placeholder="Restaurant name"/>
            <div th:if="${#fields.hasErrors('restaurantName')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('restaurantName')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <button id="submit" class="btn btn-primary" type="submit">Register</button>
        </form>
    </section>
</body>
</html>